body {
    font-family: "Nunito", sans-serif;
    background: #f8f9fa;
  }
  
  .wrapper {
    width: 100%;
  }
  
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
  }
  
  #sidebar.active {
    margin-left: -250px;
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
    background: #212529;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none;
  }
  
  #sidebar ul li a:hover {
    color: #fff;
    background: #495057;
  }
  
  #sidebar ul li.active > a {
    color: #fff;
    background: #007bff;
  }
  
  #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 250px;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      margin-left: 0px;
    }
    #content.active {
      margin-left: 250px;
    }
  }
  
  .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
  }
  
  .border-left-success {
    border-left: 0.25rem solid #1cc88a !important;
  }
  
  .border-left-info {
    border-left: 0.25rem solid #36b9cc !important;
  }
  
  .border-left-warning {
    border-left: 0.25rem solid #f6c23e !important;
  }
  
  .text-gray-300 {
    color: #dddfeb !important;
  }
  
  .text-gray-800 {
    color: #5a5c69 !important;
  }
  
  